h1 {
    color: #46c3ff;
}

#footer { /* use with id = "footer" */
    display:inline-block;
    width:100%;
    height:1em;
    padding: 2em 0.25em;
    text-align: center;
    font-size: xx-small;
}

.large-font { /* use with class="large-font" */
    font-size: large;
    color: crimson;
}

.lobster {
    color: coral;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    /*font-size: 50px;*/
}

#nav-container {
    width: 100%;
}

.user-buttons {
    background-color: #fff;
}

.navbar {
  margin-bottom: 0;
  background-color: #fff;
  z-index: 9999;
  border: 0;
  font-size: 16px !important;
  line-height: 2.42857143 !important;
  letter-spacing: 0.5px;
  border-radius: 0;
    font-family: 'Manrope', sans-serif;
}

.navbar li a, .navbar .navbar-brand {
  color: #000 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #fff !important;
  background-color: #09b1ec !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

