{% extends "base.html" %}
{% block content %}
    <h1>Airports</h1>
    <table>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
        </tr>
        {% for a in airports %}
            <tr>
                <td>{{ a.code }}</td>
                <td>{{ a.name }}</td>
                <td>{{ a.city }}</td>
                <td>{{ a.state }}</td>
                <td>{{ a.country }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}