{% extends "base.html" %}
{% block content %}
    {% if user.is_superuser %}
        <h1>Maintenance operations</h1>
        Please select a maintenance action
        <form action="" method="get">
            <input type="radio" id="currencies" name="selection" value="currencies">
            <label for="currencies">Update the list of currencies</label><br>
            <input type="radio" id="airports" name="selection" value="airports">
            <label for="airports">Update the list of airports</label><br>
            <input name="update" value="SUBMIT ACTION" type="submit">
        </form>
    {% else %}
    ACCESS DENIED!
    {% endif %}
{% endblock %}

