{% extends "base.html" %}
{% block content %}
<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-justify">Plan your Journey</h3>
        {% if visiting_cities %}
            You are planning to visit the following cities:<p></p>
            {% for city in visiting_cities %}
            {{ city }}<br>
            {% endfor %}
        {% else %}
            {% if number_of_cities > 0 %}
            <form action="" method="get">
                Enter the names of the cities you want to visit:<br>
                {% for name in names %}
                {{ name }}: <input type="text" name="{{ name }}"><p>
                {% endfor %}
                <input type="submit" value="submit" name="city_list">
                <input type="hidden" value="{{ number_of_cities }}" name="number_of_cities">
                <input type="submit" value="reset" name="reset">
            </form>
            {% else %}
            <form action="" method="get">
            How many cities do you want to visit:
                <input name="number_of_cities" value="0" type="number"><br>
                <input type="submit" value="submit">
            </form>
            {% endif %}
        {% endif %}
        </div>
        <div class="col-md-6">
            <h3 class="text-center">The Map</h3>
            {{ m | safe }}
        </div>
    </div>
</div>
{% endblock %}